# Fichiers et dossiers .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.log
*.vs/

# Secrets & configs
appsettings.Development.json
appsettings.*.json

# Node.js
node_modules/
npm-debug.log*
package-lock.json

# Build
wwwroot/

# IDE / OS
.vscode/
*.DS_Store
Thumbs.db
